.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    font-size: 16px;
  }
  
  .pagination-button:hover {
    background-color: #0056b3;
  }
  
  .pagination-navigation-button {
    background-color: #6c757d;
  }
  
  .pagination-navigation-button:hover {
    background-color: #5a6268;
  }
  
  .pagination-button:first-child {
    margin-left: 0;
  }
  
  .pagination-button:last-child {
    margin-right: 0;
  }
  
  .card{
    box-shadow:  1px 2px 5px gray;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    border-radius: 8px;
  }

  .card p{
    text-align: center;
    font-weight: 500;
    color: #007bff;
  }

  .card img{
    border-radius: 8px;
    width: 400px;
    height: 250px;
    object-fit: cover;
  }

  .wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }